# # config file version
apiVersion: 1

providers:
 - name: 'Main'
   orgId: 1
   folder: ''
   folderUid: ''
   type: file
   allowUiUpdates: true
   disableDeletion: false
   updateIntervalSeconds: 10
   options:
     path: /etc/grafana/provisioning/dashboards/main.json

 - name: 'Syslog'
   orgId: 1
   folder: ''
   folderUid: ''
   type: file
   allowUiUpdates: true
   disableDeletion: false
   updateIntervalSeconds: 10
   options:
     path: /etc/grafana/provisioning/dashboards/syslog_dashboard.json

 - name: 'Backup'
   orgId: 1
   folder: ''
   folderUid: ''
   type: file
   allowUiUpdates: true
   disableDeletion: false
   updateIntervalSeconds: 10
   options:
     path: /etc/grafana/provisioning/dashboards/backups.json

 - name: 'MySQL'
   orgId: 1
   folder: ''
   folderUid: ''
   type: file
   allowUiUpdates: true
   disableDeletion: false
   updateIntervalSeconds: 10
   options:
     path: /etc/grafana/provisioning/dashboards/mysql.json
