apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090/prometheus
    uid: be9wall15qn0gf
    isDefault: false
    version: 1
    editable: true

  - name: InfluxDB
    type: influxdb
    access: proxy
    orgId: 1
    uid: fea3s2vigxbeoa
    url: http://influxdb:8086
    database: {{ agama_client_db }}
    version: 1
    isDefault: false
    editable: true

  - name: InfluxDB_Syslog
    type: influxdb
    access: proxy
    orgId: 1
    uid: aea459zkw32m8c
    url: http://influxdb:8086
    database: telegraf
    version: 1
    isDefault: false
    editable: true
